@(ps: List[Project])

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>ThmX.ch</title>

    <link rel="icon" href="@routes.Assets.at("images/favicon.ico")">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/reset-min-3.18.1.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/thmx.css")"/>

    <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/jquery.easing.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/scrolling-nav.js")"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body data-spy="scroll" data-target="#navbar-thmx">

<nav id="navbar-thmx" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" src="@routes.Assets.at("images/thmx_logo.png")">
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="page-scroll" href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a class="page-scroll" href="#thmx"><i class="fa fa-male"></i> ThmX</a></li>
                <li><a class="page-scroll" href="#resume"><i class="fa fa-university"></i> Resume</a></li>
                <li><a class="page-scroll" href="#projects"><i class="fa fa-folder-open-o"></i> Projects</a></li>
                <li><a class="page-scroll" href="#contact"><i class="fa fa-globe"></i> Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

@home()
@thmx()
@resume()
@projects(ps)

<div id="contact" class="container-fluid bottom">

    <h3 class="text-center gemcond"><small>Stay in touch</small></h3>

    <div class="text-center">
        <a class="gray" href="mailto:thomas.denoreaz@@gmail.com"><span class="fa-stack fa-2x"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x"></i></span></a>
        <a class="gray" href="https://github.com/ThmX"><span class="fa-stack fa-2x"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-github fa-stack-1x"></i></span></a>
        <a class="gray" href="https://ch.linkedin.com/in/thomasdenoreaz"><span class="fa-stack fa-2x"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a>
        <a class="gray" href="https://play.google.com/store/apps/developer?id=Thomas%20Denor%C3%A9az"><span class="fa-stack fa-2x"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-android fa-stack-1x"></i></span></a>
        <a class="gray" href="https://www.facebook.com/thomas.denoreaz"><span class="fa-stack fa-2x"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a>
    </div>

    <p class="text-center">
        Thomas Denoréaz <i class="fa fa-copyright"></i> 2015 - Last update: 06.05.2015
    </p>

</div>

</body>
</html>

