<div id="resume" class="container-fluid page">
    <h1 class="gemcond">
        <span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-folder-open-o fa-university fa-stack-1x"></i></span>
        Resume
    </h1>

    <div class="row" style="margin: 30px">
        <div class="col-xs-12 col-sm-6">
            <h3 class="gemcond">
                <span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                Personal
            </h3>

            <table class="text-center resume">
                <tr>
                    <td><i class="fa fa-birthday-cake"></i></td>
                    <td>2nd August 1988</td>
                </tr>
                <tr>
                    <td><i class="fa fa-language"></i></td>
                    <td>French, English, German</td>
                </tr>
                <tr>
                    <td><i class="fa fa-map-marker"></i></td>
                    <td>Vaud, Switzerland</td>
                </tr>
                <tr>
                    <td><i class="fa fa-venus-mars"></i></td>
                    <td>In a relationship</td>
                </tr>
            </table>

        </div>

        <div class="col-xs-12 col-sm-6">
            <h3 class="gemcond">
                <span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-briefcase fa-stack-1x"></i></span>
                Professional
            </h3>

            <table class="resume">
                <tr>
                    <td><i class="fa fa-apple"></i></td>
                    <td>Software Engineer at <a href="http://www.usefulweb.ch/">Usefulweb</a> <i class="fa fa-arrow-circle-o-right"></i> 2011-2012</td>
                </tr>
                <tr>
                    <td><i class="fa fa-android"></i></td>
                    <td>Android App developer at <a href="http://forum-epfl.ch/">ForumEPFL</a> <i class="fa fa-arrow-circle-o-right"></i> 2011-2012</td>
                </tr>
                <tr>
                    <td><i class="fa fa-code"></i></td>
                    <td>Software Engineer at <a href="http://je.epfl.ch/">Junior Entreprise EPFL</a> <i class="fa fa-arrow-circle-o-right"></i> 2013</td>
                </tr>
                <tr>
                    <td><i class="fa fa-code"></i></td>
                    <td>Teaching Assistant at <a href="http://ic.epfl.ch/computer-science">EPFL</a> <i class="fa fa-arrow-circle-o-right"></i> 2011-2014</td>
                </tr>
            </table>

        </div>

        <div class="col-xs-12 col-sm-6">
            <h3 class="gemcond">
                <span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
                Education
            </h3>

            <table class="resume">
                <tr>
                    <td><i class="fa fa-trophy"></i></td>
                    <td>Federal Certificate in Informatics <i class="fa fa-arrow-circle-o-right"></i> 2008</td>
                </tr>
                <tr>
                    <td><i class="fa fa-trophy"></i></td>
                    <td>Bachelor in Computer Science from EPFL <i class="fa fa-arrow-circle-o-right"></i> 2015</td>
                </tr>
            </table>

        </div>

        <div class="col-xs-12 col-sm-6">
            <h3 class="gemcond">
                <span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                Military
            </h3>

            <table class="resume">
                <tr>
                    <td><i class="fa fa-star-o"></i></td>
                    <td>Squad leader as Sub-Officer in Command Support <i class="fa fa-arrow-circle-o-right"></i> March-June 2014</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star-half-o"></i></td>
                    <td>Platoon leader as Officer in Command Support <i class="fa fa-arrow-circle-o-right"></i> June 2014 - April 2015</td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h3 class="gemcond">
                <span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-puzzle-piece fa-stack-1x"></i></span>
                Hobbies
            </h3>

            <table class="resume">
                <tr>
                    <td><i class="fa fa-heartbeat"></i></td>
                    <td>Running, Skiing, Climbing</td>
                </tr>
                <tr>
                    <td><i class="fa fa-play"></i></td>
                    <td>Guitar, Drum</td>
                </tr>
                <tr>
                    <td><i class="fa fa-terminal"></i></td>
                    <td>HC2.ch, Google Code Jam, Robotics</td>
                </tr>
            </table>
        </div>
    </div>

    <p class="text-center">
        <a class="btn btn-default btn-lg" href="@routes.Assets.at("cv_denoreaz_thomas_20150328.pdf")" role="button">
            <i class="fa fa-download"></i> Download as PDF
        </a>
    </p>
</div>