<div id="thmx" class="full-height container-fluid">
    <h1 class="gemcond">
        <span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-android fa-stack-1x"></i></span>
        ThmX
        <small> Thomas Denoréaz</small>
    </h1>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <img src="@routes.Assets.at("images/thomas.jpg")" class="img-thumbnail"/>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8">
            <blockquote>
                <p>Hi everyone! My name is Thomas Denoréaz, I'm a Swiss Computer Scientist from Nyon who's recently
                    moved to Zürich in order to finish my studies.</p>

                <p>
                    I graduated from the Lausanne Federal Institute of Technology (<a href="http://epfl.ch/">EPFL</a>)
                    with a Bachelor in Computer Science.
                    And will start studying Computational Science & Engineering at the Zurich Federal Institute of
                    Technology (<a href="http://eth.ch/">ETH Zürich</a>).
                </p>
            </blockquote>
            <br/>

            <blockquote>
                <p><i class="fa fa-quote-left"></i> A person who is more than casually interested in computers should be
                    well schooled in machine language, since it is a fundamental part of a computer. <i
                            class="fa fa-quote-right"></i></p>
                <footer>Donald E. Knuth, 1973</footer>
            </blockquote>
        </div>

    </div>

</div>
